@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}

@media (max-width: 1199px){
    .navbar-brand img {
        width: 200px;
    }
    .header-search span {
        display: none;
    }
    header .navbar-nav .nav-item .nav-link {
        padding: 25px 15px;
    }
    .header-search [class^="ti-"].pr-1 {
        padding-right: 0px !important;
    }
    .header-right-wrap .btn.header-search {
        color: #fff;
        background-color: #26a9d7;
        border-color: #26a9d7;
    }
    .header-right-wrap .btn.header-search {
        padding: 6px 10px;
    }
    .header-right-wrap .head-account {
        display: none;
    }
    .header-right-wrap .btn.header-profile .pr-1{
        padding: 0px !important;
    }
    .header-right-wrap .btn.header-profile {
        padding: 2px 5px;
    }
    .header-profile img.header-img {
        height: 27px;
        width: 27px;
    }
    .counter {
        padding: 20px 15px;
    }
    .counter-section {
        padding: 40px 30px 40px 30px;
    }
    .counter .counter-content label {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .sub-newsletter p {
        font-size: 13px;
    }
    .section-title h2 {
        font-size: 32px;
    }
    .childcare-box .childcare-footlinks li .childcare-sortlink {
        font-size: 14px;
        padding: 6px 12px;
        margin-top: 1px;
    }
    .childcare-foot .form-control {
        font-size: 14px;
        height: calc(1.5em + .75rem + 2px);
    }
}

@media (max-width: 1199px) and (min-width: 991px) {
    .myaccount-nav.nav-tabs .nav-link {
        padding: 15px 10px;
    }
    .innerbanner-gettouch ul > li {
        margin-right: 1px;
    }
    .community-box .community-desc h4 {
        font-size: 22px;
        margin-bottom: 5px;
    }
    .gallery-img img {
        max-height: 119px;
    }
    .services-box .services-details .services-title {
        font-size: 16px;
    }
}

@media (max-width: 991px){
    .mb-30 {
        margin-bottom: 15px;
    }
    .main-header nav.navbar .navbar-brand {
        margin-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .main-header nav.navbar .navbar-toggler {
        margin-right: 15px;
    }
    header .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
    .navbar-brand > img {
        width: 220px;
    }
    header .ml-auto-links {
        margin-left: auto!important;
        margin-right: 10px;
    }
    .main-menu > .navbar-nav > li.nav-item {
        border-top: 1px solid #f0f0f0;
    }
    .main-menu > ul > li > ul.submenu {
        padding: 0px 20px;
        width: 100%;
    }
    header .navbar-nav .nav-item .nav-link {
        padding: 15px;
    }
    .main-menu > .navbar-nav > li.nav-item.dropdown > .dropdown-toggle::after {
        content: "\e61a";
        font-family: 'themify';
        display: inline-block;
        margin-left: 0px;
        border: 0px solid #ffffff !important;
        right: 15px;
        position: absolute;
        top: 15px;
        font-size: 14px;
    }
    .main-menu > ul > li > ul.mega-menu, .main-menu > ul > li > ul.submenu {
        transform: initial;
        transform-origin: initial;
        transition: initial;
        visibility: visible;
        display: none;
    }
    .main-menu > ul > li > ul.mega-menu, .main-menu > ul > li > ul.submenu {
        box-shadow: none;
    }
    .main-menu > ul > li.dropdown.show > ul.mega-menu, .main-menu > ul > li.dropdown.show > ul.submenu {
        display: block;
        position: static;
        float: left;
        width: 100%;
    }
    .select2-container .select2-selection--single,
    .mainsearch-section input.form-control{
        height: 40px;
        border-right: 0px solid #e4e6f1;
    }
    .mainsearch-form .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 40px;
    }
    .mainsearch-form > .form-group {
        border-radius: 2px;
        margin-bottom: 10px !important;
    }
    .mainsearch-section input.form-control {
        border-radius: 2px;
        height: 40px;
    }
    .mainsearch-section .btn {
        height: 40px;
        line-height: 1;
        border-radius: 2px !important;
    }
    .mainsearch-section .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 40px;
    }
    .aboutus-section .aboutus-img {
        margin-top: 0px;
        padding: 0px;
        margin-bottom: 20px;
    }
    .aboutus-section .aboutus-img:before{
        display: none;
    }
    .aboutus-section .pl-5 {
        padding-left: 15px !important;
    }
    .worldwide-section .pl-5 {
        padding-left: 15px !important;
    }
    .counter-section {
        padding: 40px 30px 40px 0px;
    }
    .steps-box {
        padding: 0px 0px;
    }
    .steps-box .steps-desc .step-title {
        font-size: 18px;
    }
    .sub-newsletter {
        text-align: center;
        margin-bottom: 20px;
    }
    .section-title h2 {
        font-size: 26px;
    }
    .myaccount-name h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .myaccount-name h3 {
        font-size: 20px;
    }
    .scroll-container {
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .scroll-container:after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-weight: 600;
        color: #ffffff;
        right: 0px;
        top: 0px;
        background-color: #02a04b;
        padding: 14px 10px;
    }
    .scroll-nav.nav-tabs {
        white-space: nowrap;
        width: max-content;
        padding-right: 20px;
    }
    .scroll-nav.nav-tabs .nav-link {
        font-size: 13px;
    }
    .section-title h6 {
        font-size: 16px;
    }
    .register-wizard-area .register-wizard-list .register-wizard-title {
        font-size: 16px;
    }
    .signup-area .register-icon {
        padding: 10px;
        font-size: 16px;
    }
    .signup-area .register-title {
        font-size: 16px;
    }
    .wizard > .steps .number {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        margin-right: 5px;
    }
    .wizard > .steps a {
        font-size: 16px;
    }
    .vacancies-box .col-auto {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }
    .vacancies-box .col-auto.pl-3 {
        padding: 0px !important;
    }
    .price-block:hover {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
    .no-more-tables table, 
    .no-more-tables thead, 
    .no-more-tables tbody, 
    .no-more-tables th, 
    .no-more-tables td, 
    .no-more-tables tr { 
        display: block; 
    }
    .no-more-tables thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    .no-more-tables tr { border: 1px solid #ccc; }
    .no-more-tables td { 
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 25%; 
        white-space: normal;
        text-align:left;
    }
    .no-more-tables td:before { 
        position: absolute;
        left: 6px;
        width: 20%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }
    .no-more-tables td:before {
        content: attr(data-title);
    }
    .agegroup-td .form-control {
        height: 38px;
    }
    table td.text-center {
        text-align: left !important;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .mb-80 {
        margin-bottom: 40px;
    }
    .mb-md-30 {
        margin-bottom: 30px;
    }
    .innerbanner-section {
        position: relative;

    }
    .innerbanner-personaldetails {
        margin-bottom: 20px;
    }
    .availability-table > tbody > tr > th:first-child {
        width: 40%;
        font-size: 16px;
    }
    .view-profile-intro .intro-title {
        font-size: 24px;
    }
    .community-box .community-desc h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .gallery-img img {
        max-height: 118px;
    }
    .package-subscribe .package-title {
        width: 30%;
        padding: 15px;
    }
    .package-subscribe .package-title:after {
        top: -20px;
        right: -50px;
    }
    .package-subscribe .package-purchasedate,
    .package-subscribe .package-expiredate,
    .package-subscribe .package-action {
        width: 23.33%;
        padding: 15px;
    }
}

@media (max-width: 767px){
    .mb-sm-50 {
        margin-bottom: 50px;
    }
    .navbar-brand > img {
        width: 180px;
    }
    .profileimg-area img {
        width: 150px;
        margin: 0px auto;
        display: block;
    }
    .section-title h2 {
        font-size: 24px;
    }
    .counter-section {
        padding: 0px;
    }
    .counter-section:before {
        display: none;
    }
    .counter .counter-content .timer {
        font-size: 28px;
    }
    .myaccount-name {
        text-align: center;
    }
    .myaccount-name h1 {
        font-size: 24px;
    }
    .myaccount-name h3 {
        font-size: 16px;
    }
    .advertise-box .advertise-title {
        font-size: 22px;
    }
    .advertise-content p {
        font-size: 14px;
    }
    .testimonials-box {
        padding: 0px;
        box-shadow: none;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 20px;
        margin: 20px 0px 0px;
    }
    .testimonials-box .testimonials-content {
        font-size: 14px;
    }
    .childcare-box .childcare-img img {
        width: 100px;
    }
    .childcare-box .childcare-img .btn-view {
        font-size: 12px;
        padding: 3px 7px;
        margin: 0px 5px;
    }
    .childcare-box .childcare-details {
        margin-left: 110px;
        padding-right: 10px;
    }
    .childcare-box .childcare-details .childcare-title {
        font-size: 16px;
    }
    .childcare-box .childcare-footlinks li .childcare-sortlink {
        font-size: 11px;
        padding: 9px 8px;
        margin-top: 1px;
    }
    .sm-modal {
        width: 100%;
    }
    .register-wizard-area .register-wizard-list {
        display: block;
    }
    .register-wizard-area .register-wizard-list .register-wizard-icon {
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .register-wizard-area .register-wizard-list .register-wizard-title {
        display: block;
    }
    .wizard > .steps .number {
        display: block;
        margin: 0px auto 10px;
    }
    .price-block {
        margin-bottom: 30px;
    }
    .SelectDaysGroup label {
        font-size: 14px;
        width: 30px;
    }
    .agegroup-td {
        display: block !important;
    }
    .tb-inline {
        display: flex;
    }
    .agegroup-td select {
        width: 100% !important;
    }
    .td-divider {
        padding: 10px 0px;
        display: block;
    }
    .contact-box {
        margin-bottom: 20px;
    }
    .contact-form {
        margin-bottom: 50px;
    }
    footer .outer-footer .copyright-area {
        float: none;
        padding: 0px 0px 20px;
        text-align: center;
    }
    footer .social-foot {
        float: none;
        text-align: center;
    }
    .footer-scroll {
        right: 15px;
        bottom: 15px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
    div.dataTables_wrapper div.dataTables_length {
        text-align: left;
    }
    div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper{
        text-align: right;
    }
    div.dataTables_wrapper div.dataTables_info {
        padding-bottom: 0.85em;
    }
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        justify-content: center;
    }

    div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child {
        padding-left: 0px;
    }
    .innerbanner-image {
        text-align: center;
        margin-bottom: 20px;
    }
    .availability-table tr {
        overflow: hidden;
        display: block;
    }
    .availability-table > tbody > tr > th:first-child {
        font-weight: 600;
        width: 100%;
        font-size: 16px;
        display: block;
        padding: 10px;
    }
    .availability-table > tbody > tr > td {
        font-size: 16px;
        padding: 10px 15px;
        width: 1%;
    }
    .fees-price-block {
        margin-bottom: 20px;
    }
    .review-box {
        margin-bottom: 20px;
    }
    .review-body p {
        margin-bottom: 5px;
    }
    .f-18 {
        font-size: 14px;
    }
    .btn {
        padding: 8px 15px 8px 15px;
    }
    .sub-newsletter h3 {
        font-size: 18px;
    }
    .tabscustom-tabs .nav-tabs .nav-link {
        padding: 12px 10px;
    }
    .view-profile-box {
        margin-bottom: 20px;
    }
    .community-box {
        margin-bottom: 20px;
    }
    .gallery-img img {
        max-height: 100%;
    }
    .package-subscribe .package-title {
        width: 100%;
        padding: 15px;
        text-align: center;
        border-radius: 4px 4px 0px 0px;
    }
    .package-subscribe .package-purchasedate, .package-subscribe .package-expiredate {
        width: 50%;
        padding: 20px 15px;
    }
    .package-subscribe .package-action {
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .review-box .review-by,
    .review-box .review-author-rating {
        float: none;
    }
    .review-box .review-rating {
        margin-top: 10px;
    }
    .custom-modal .sm-modal {
        width: 94%;
    }
}
@media (max-width: 580px){
    .tabscustom-tabs .nav-tabs .nav-link {
        padding: 10px 10px;
        font-size: 12px;
    }
    div.dataTables_wrapper div.dataTables_length label,
    div.dataTables_wrapper div.dataTables_filter label {
        font-size: 0px;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-left: 0px;
    }
    .tabscustom-tabs .nav-tabs .nav-item {
        margin-bottom: 2px;
    }

}