/*------------------------------------------------------------------
* Project:        DayCare Seekers
* URL:            -
* Created:        01/05/2020
-------------------------------------------------------------------
*/

/*======================================================================
  1. Google Fonts
========================================================================*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800');

/*======================================================================
  2. Basic Elements
========================================================================*/
body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    background: #ffffff;
}
a {
    color: #454545;
    text-decoration: none;
    outline: none !important;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

a:hover, a:focus {
    color: #02a04b;
    text-decoration: none;
    cursor: pointer;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}
.form-control{
    font-size: 14px;
    height: 44px;
    border-radius: 2px;
}
.form-control:focus {
    border-color: #02a04b;
    box-shadow: none;
}
input {
    outline: none !important;
    box-shadow: none !important;
}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-bold {
    font-weight: 600;
}
button:hover, button:focus {
    outline: none !important;
}
.link {
    color: #02a04b;
}
.link:hover {
    color: #016839;
}
.btn-link {
    color: #02a04b;
}
.btn-link:hover {
    color: #016839;
}
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 2px !important;
    padding: 12px 20px 12px 20px;
}
.btn.hover, .btn:hover,
.btn.focus, .btn:focus{
    outline: none;
    box-shadow: none;
}
.btn-primary {
    color: #fff;
    background-color: #02a04b;
    border-color: #02a04b;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle:focus,
.btn-primary:hover, .btn-primary:focus {
    background-color: #016839;
    border-color: #016839;
    box-shadow: none;
}
.btn-secondary {
    color: #fff;
    background-color: #1677c4;
    border-color: #1677c4;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary:hover, .btn-secondary:focus {
    background-color: #115890;
    border-color: #115890;
    box-shadow: none;
}
.bg-grey {
    background-color: #f0f4f9;
}
.bg-blue {
    background-color: #02a04b;
}
.bg-dark {
    background-color: #1677c4 !important;
}
.f-16 {
    font-size: 16px;
}
.f-18 {
    font-size: 18px;
}
.padt-3 {
    padding-top: 3px;
}
.pt-50 {
    padding-top: 50px;
}
.pt-100 {
    padding-top: 100px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pb-100 {
    padding-bottom: 100px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-80 {
    margin-bottom: 80px;
}
.pt-8 {
    padding-top: 8px;
}
.modal-backdrop.show {
    opacity: .8;
}
.sm-modal {
    width: 400px;
}
.required {
    color: #e20000;
}
.select2-selection.select2-selection--multiple {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: 1px solid #02a04b;
    outline: 0;
}
.select2-selection--multiple .select2-selection__rendered:after {
    border-color: #495057 transparent transparent;
    border-style: solid;
    border-width: 5px 4px 4px;
    content: "";
    position: absolute;
    right: 7px;
    top: 17px;
    z-index: 10;
}
.f-13 {
    font-size: 13px;
}
.children-body label {
    display: block;
}
.children-body .btn {
    padding: .5rem .75rem;
}
.custom-control-input:not(:disabled):active~.custom-control-label::before {
    background-color: #caeedb;
    border-color: #caeedb;
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: none;
}
.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #02a04b;
}
.input-group-text {
    font-size: 14px;
}
.hint {
    font-size: 12px;
    font-style: italic;
}
.table-alignmiddle td,
.table-alignmiddle th {
    border: 1px solid #dee2e6;
    vertical-align: middle;
}
.tb-inline {
    display: inline-flex;
}
.td-divider {
    padding: 10px;
}
.input-group-text {
    border-radius: 0px 2px 2px 0px
}
.form-group label.error {
    display: none !important;
}
.form-control.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.w-70 {
    width: 70px;
}
.w-110 {
    width: 110px;
}
.inner-title-t1 {
    font-weight: 600;
    font-size: 18px;
}
.font-italic {
    font-style: italic;
}
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(2, 160, 75, 0.5);
}
.btn.btn-md {
    padding: 6px 12px !important;
}
/*======================================================================
  3. Header & Navbar
========================================================================*/
.main-header nav.navbar {
    padding: 0px;
}
header .navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    font-weight: 600;
    color: #23272b;
    font-size: 13px;
    padding: 25px 20px;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #02a04b;
}
.main-menu > ul > li > ul.submenu {
    background-color: #fff;
    left: 0;
    padding: 20px;
    width: 250px;
}
.main-menu > ul > li > ul.mega-menu, .main-menu > ul > li > ul.submenu {
    box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    transform: rotateX(90deg);
    transform-origin: center top 0;
    transition: all 0.5s ease 0s;
    visibility: hidden;
    z-index: 999;
    margin: 0px;
    border-radius: 0px;
    border: 0px;
}
.main-menu > ul > li:hover > ul.mega-menu, .main-menu > ul > li:hover > ul.submenu {
    transform: rotateX(0deg);
    visibility: visible;
}
.main-menu .navbar-nav > li.dropdown > ul.dropdown-menu > li > a, .main-menu .navbar-nav > li.dropdown > ul.dropdown-menu > li > ul > li > a {
    font-size: 14px;
    padding-bottom: 10px;
    display: block;
}
.header-right-wrap li {
    display: inline-block;
}
.header-right-wrap .btn-link.header-search {
    color: #02a04b;
    text-decoration: none;
}
.header-right-wrap .btn {
    font-size: 13px;
    padding: 6px 15px;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    background-color: #02a04b;
    border-radius: 2px;
    padding: 5.7px 10px;
}
.navbar-toggler [class^="ti-"] {
    color: #fff;
    font-size: 16px;
}
.header-profile img.header-img {
    height: 34px;
    width: 34px;
    border-radius: 50%;
}
.header-right-wrap .btn.header-profile {
    padding: 5px 10px;
}

/*======================================================================
  4. Banner & Slider
========================================================================*/
.banner-section {
    overflow: hidden;
}
.banner-section .banner-title {
    font-weight: 700;
    font-size: 44px;
    line-height: normal;
    white-space: nowrap;
    color: #ffffff;
    text-transform: capitalize;
}
.banner-section .banner-title > span {
    display: block;
}
.banner-section .col-blue {
    color: #36388d;
}
.banner-section .col-pink {
    color: pink;
}
.banner-section .banner-content {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}
.banner-section .banner-btn-line {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #1677c4;;
    padding: 10px 20px;
    background-color: #1677c4;
    border-radius: 2px;
}
.banner-section .banner-btn-line:hover {

}
.banner-section .ms-skin-default .ms-nav-prev, .ms-skin-default .ms-nav-next, .ms-skin-default .ms-bullet {
    background: none !important;
}
.banner-section .ms-skin-default .ms-nav-prev:after, .ms-skin-default .ms-nav-next:after {
    content: "";
    font-family: 'themify';
    position: absolute;
    color: #02a04b;
    font-size: 14px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    opacity: .5;
}
.banner-section .ms-skin-default .ms-nav-prev:after {
    content: "\e64a";
}
.banner-section .ms-skin-default .ms-nav-next:after {
    content: "\e649";
}
.banner-section .ms-skin-default .ms-nav-prev:hover:after, .ms-skin-default .ms-nav-next:hover:after {
    opacity: 1;
}
.banner-section .ms-overlay-layers {
    background-color: rgba(33, 77, 99, 0.5);
}
.banner-section .ms-skin-default .ms-bullet {
    width: 10px;
    height: 10px;
    background-color: #ffffff !important;
    border-radius: 2px;
}
.banner-section .ms-skin-default .ms-bullet.ms-bullet-selected {
    background-color: #02a04b !important;
}
.banner-section .ms-time-bar {
    background-color: #02a04b !important;
    opacity: 0.5;
}

/*======================================================================
  5. Main Search
========================================================================*/
section.mainsearch-section {
    background-color: #02a04b;
    padding: 24px 0px;
}
.select2-container .select2-selection--single {
    height: 50px;
    outline: none;
    border: 0px;
    border-right: 1px solid #e4e6f1;
    background-color: transparent;
    border-radius: 0px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 50px;
    font-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 48px;
}
.mainsearch-section input.form-control {
    font-size: 14px;
    height: 50px;
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
    border-right: 1px solid #ced4da;
}
.mainsearch-section .btn {
    font-weight: 600;
    height: 50px;
    line-height: 1.8;
    border-radius: 0px 4px 4px 0px !important;
}
.mainsearch-form > .form-group {
    border-radius: 4px 0px 0px 4px;
}

/*======================================================================
  6. About Us section
========================================================================*/

.section-title h5 {
    color: #1677c4;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 26px;
}
.section-title h5 span {
    background-color: rgba(22, 119, 196, 0.3);
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 11px;
    position: relative;
    top: 5px;
}
.section-title h5 span::before {
    position: absolute;
    content: "";
    background-color: #1677c4;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    top: 7px;
    left: 6px;
}
.section-title h2 {
    font-weight: 700;
    font-size: 36px;
}
.section-title h6 {
    font-weight: 700;
    font-size: 18px;
}
.section-title > p {
    font-size: 16px;
    margin: 0px;
}
ul.list-dott li {
    color: #565872;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}
ul.list-dott li::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 12px;
    left: 0px;
    top: 2px;
}

.aboutus-section .aboutus-img {
    position: relative;
    padding: 35px 0px 35px 35px;
}
.aboutus-section .aboutus-img:before {
    position: absolute;
    content: '';
    right: 40px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 4px;
    background-color: transparent;
    border: 5px solid #1677c4;
}
.aboutus-section .aboutus-img .inner-img {
    position: relative;
    text-align: right;
}
.aboutus-section .aboutus-img .inner-img img {
    position: relative;
    width: 100%;
    display: block;
    border-radius: 4px;
}

.services-box {
    background-color: #ffffff;
    margin-bottom: 30px;
}
.services-box .services-image {
    position: relative;
}
.services-box .services-image img {
    width: 100%;
}
.services-box:hover .services-image:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(22 119 196 / 0.4);
    top: 0px;
    left: 0px;
}
.services-box .services-details {
    padding: 20px;
    text-align: center;
}
.services-box .services-details .services-title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.services-box .services-details .services-desc {
    margin: 0px;
    height: 150px;
    overflow: hidden;
}

.counter-section {
    padding: 40px 70px 40px 30px;
}
.counter-section:before {
    position: absolute;
    content: "";
    top: 0;
    right: 15px;
    background-color: #1677c4;
    width: 25%;
    height: 100%;
    border-radius: 5px;
}
.counter {
    padding: 30px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 8px 27px 0px rgba(27, 27, 41, 0.15);
    box-shadow: 0px 8px 27px 0px rgba(27, 27, 41, 0.15);
}
.counter .counter-icon {
    margin-bottom: 10px;
}
.counter .counter-icon i {
    font-size: 55px;
    color: #1677c4;
}
.counter .counter-content .timer {
    font-weight: 600;
    font-size: 38px;
    position: relative;
}
.counter .counter-content label {
    font-weight: 600;
    font-size: 16px;
    color: #666666;
    display: block;
    margin: 0px;
}
.howsitwork-section {
    position: relative;
    background-image: url(../images/howswork-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.howsitwork-section:before {
    background: rgba(33, 77, 99, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.steps-box {
    text-align: center;
    padding: 0px 20px;
}
.steps-box .steps-icon {
    margin-bottom: 20px;
    background-color: #1677c4;
    display: inline-block;
    padding: 20px;
    border-radius: 2px;
}
.steps-box .steps-icon i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffffff;
}
.steps-box .steps-desc .step-title {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-transform: uppercase;
}
.steps-box .steps-desc .step-content {
    color: #ffffff;
    margin: 0px;
}


.advertise-section {
    position: relative;
    background-image: url(../images/advertise-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}
.advertise-section:before {
    background: rgba(33, 77, 99, 0.6);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}
.advertise-box {
    background-color: #1677c4;
    padding: 30px;
    border-radius: 2px;
}
.advertise-box .advertise-title {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
}
.advertise-content p {
    font-size: 16px;
    color: #fff;
}
.advertise-content p:last-child {
    margin-bottom: 0px;
}
.testimonials-box {
    position: relative;
    text-align: center;
    -webkit-box-shadow: 0px 8px 27px 0px rgba(27, 27, 41, 0.15);
    box-shadow: 0px 8px 27px 0px rgba(27, 27, 41, 0.15);
    display: block;
    margin: 30px 40px;
    padding: 38px;
}
.testimonials-box::before {
    content: "\e67f";
    font-family: 'themify';
    position: absolute;
    font-size: 80px;
    left: 25px;
    top: -20px;
    color: #ddd;
}
.testimonials-box .testimonials-content {
    font-weight: 600;
    font-size: 16px;
    font-style: italic;
    position: relative;
}
.testimonials-box .testimonials-content:after {
    content: "";
    border-bottom: 2px solid #02a04b;
    position: absolute;
    width: 100px;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    bottom: -23px;
    border-radius: 40px;
}
.testimonials-box .testimonials-author {
    margin-top: 40px;
    font-weight: 500;
    font-size: 18px;
}

.rm-bg .input-group-text {
    background-color: transparent;
}
.rm-bg input.form-control {
    border-left: 0px;
    padding-left: 0px;
    height: 45px;
}
.form-group > label {
    font-weight: 600;
    font-size: 14px;
    color: #7d7d7d;
    margin-bottom: 3px;
}
.custom-control .custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
}
.custom-control-label::before,
.custom-control-label::after {
    top: 1px;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #02a04b;
    background-color: #02a04b;
}

.custom-modal .modal-header {
    position: relative;
    display: block;
    background-color: #1677c4;
    border: 0px;
}
.custom-modal .modal-header .modal-title {
    text-align: center;
    font-weight: 600;
    color: #ffffff;
}
.custom-modal .modal-header .close {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: red;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    opacity: 0.8;
}

/*======================================================================
  8. My Account
========================================================================*/
.inner-banner {
    background: url(../images/banner/slider-1.jpg) center;
    position: relative;
}
.inner-banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1677c4;
    opacity: 0.7;
}
.inner-banner .inner-content {
    padding: 30px 0px;
}
.inner-content img {
    border-radius: 4px;
}
.myaccount-name h1 {
    font-weight: 600;
    font-size: 36px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 15px;
}
.myaccount-name h3 {
    font-size: 22px;
    color: #ffffff;
}
.myaccount-section .myaccount-menu {
    position: relative;
    background-color: #1677c4;
}

.myaccount-nav.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.myaccount-nav.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 15px 18px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.myaccount-nav.nav-tabs .nav-item {
    margin-bottom: 0px;
}
.myaccount-nav.nav-tabs .nav-item.show .nav-link,
.myaccount-nav.nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #115890;
}
.custom-accordion .card .card-header {
    padding: 0px;
}
.custom-accordion .card .card-header button.btn {
    width: 100%;
    text-align: left;
    font-size: 13px;
    text-decoration: none;
}
.custom-accordion .card .card-header button.btn:after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 15px;
    font-size: 14px;
}
.custom-accordion .card .card-header button.btn.collapsed:after {
    content: "\f078";
}
.custom-accordion .card {
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 2px !important;
}
.custom-accordion .collapse-label {
    background-color: #1677c4;
    color: #ffffff;
    width: 25px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    margin-left: 15px;
}
.custom-accordion .searchmore-btn {
    padding: 4px;
    border-radius: 0px !important;
    font-size: 13px;
}
.empty-box {
    text-align: center;
}
.empty-box .empty-icon {
    background-color: #9e9e9e;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 46px;
    color: #ffffff;
    font-size: 23px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.empty-box .empty-content {
    color: #797979;
}
.inner-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}
.children-form {
    background-color: #ececec;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 20px;
}
.children-form .children-header {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
}
.note-toolbar.panel-heading {
    background-color: #ececec;
}
.note-editor.note-frame {
    border: 1px solid #ced4da;
}
.note-editor .btn {
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid #ccc;
}
.note-editor .btn.active {
    background-color: #76c7e3;
}
.note-editor .btn:after {
    display: none;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #02a04b;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget table td.today:before {
    border-bottom-color: #02a04b;
}
.note-popover.popover {
    max-width: none;
    display: none !important;
}
.select2-container {
    display: block;
    width: 100% !important;
}

.inner-banner .page-title {
    font-weight: 600;
    font-size: 32px;
    color: #fff;
}
.inner-banner .breadcrumb {
    background-color: transparent;
    display: block;
    margin: 0px;
    padding: .75rem 0px 0px;
}
.inner-banner .breadcrumb>li {
    display: inline-block;
}
.inner-banner .breadcrumb a, .inner-banner .breadcrumb > .active {
    font-size: 14px;
    color: #d7d7d7;
}
.inner-banner .breadcrumb > li.active {
    color: #ffffff;
    text-transform: capitalize;
}
.inner-banner .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.childcare-box {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
    border-radius: 2px;
    margin-bottom: 30px;
}
.childcare-box .childcare-img {
    float: left;
}
.childcare-box .childcare-img img {
    width: 150px;
    margin-bottom: 10px;
}
.childcare-box .childcare-img .btn-view {
    font-size: 12px;
    display: block;
    padding: 4px 10px;
    margin: 0px 10px;
}
.childcare-box .childcare-details {
    margin-left: 170px;
    padding-right: 15px;
}
.childcare-box .childcare-details .childcare-title {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0px;
    margin: 0px;
}
.childcare-box .childcare-details .childcare-title > a {
    color: #1677c4;
}
.childcare-box .childcare-rating {
    margin-bottom: 10px;
}
.childcare-box .childcare-rating > i {
    color: #facc41;
}
.childcare-box .childcare-rating .givenrating {
    font-size: 14px;
    margin-left: 10px;
    color: #a2a2a2;
}
.childcare-box .childcare-address,
.childcare-box .childcare-phone > a {
    position: relative;
    margin-bottom: 5px;
    color: #464646;
    margin-left: 25px;
}
.childcare-box .childcare-phone > a {
    font-weight: 600;
}
.childcare-box .childcare-address .fas,
.childcare-box .childcare-phone .fas {
    width: 20px;
    display: inline-block;
    text-align: center;
    position: absolute;
    left: -25px;
    top: 4px;
}
.childcare-box .childcare-foot {
    background-color: #eeeeee;
    border-top: 1px solid #dddddd;
    padding: 10px;
    margin-top: 10px;
}
.childcare-box .childcare-footlinks li {
    display: inline-block;
}
.childcare-box .childcare-footlinks li .childcare-sortlink {
    font-size: 16px;
    padding: 8px 15px;
    display: block;
    background-color: #1677c4;
    color: #fff;
    border-radius: 2px;
}



.innerbanner-section {
    position: absolute;
    z-index: 999;
    bottom: 0px;
    width: 100%;
}
.innerbanner-contextual-header {
    position: relative;
    padding: 30px 0px;
}
.innerbanner-contextual-header:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #1677c4;
    opacity: 0.7;
}
.innerbanner-personaldetails .innerbanner-title {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    margin-top: -5px;
    margin-bottom: 5px;
}
.innerbanner-personaldetails .user-rating {
    margin-bottom: 15px;
}
.user-ratinglist .fas, .user-ratinglist .far {
    color: #facc41;
}
.user-rating .user-ratinglist,
.user-rating .userrating-count {
    display: inline-block;
}
.user-rating .userrating-count {
    font-size: 13px;
    color: #fff;
    margin-left: 5px;
}
.innerbanner-personaldetails .childcare-address,
.innerbanner-personaldetails .childcare-phone > a {
    margin-bottom: 5px;
    color: #ffffff;
}
.innerbanner-personaldetails .childcare-address .fas,
.innerbanner-personaldetails .childcare-phone .fas {
    width: 20px;
    display: inline-block;
    text-align: center;
    padding-right: 14px;
}
.btn-childsm {
    font-size: 12px;
    padding: 4px 7px;
}
.innerbanner-gettouch {
    padding-top: 10px;
}
.innerbanner-gettouch ul > li {
    display: inline-block;
    margin-right: 2px;
}
.innerbanner-gettouch ul > li .btn.btn-gettouch {
    color: #1677c4;
    background-color: #ffffff;
    padding: 0px !important;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.innerbanner-gettouch ul > li .btn.btn-gettouch:hover {
    color: #ffffff;
    background-color: #1677c4;
}
.userprofile-rightarea {
    text-align: right;
}
.info-desc p, .info-desc span {
    font-family: 'Poppins', sans-serif !important;
}

.maindetailsmenu-section .maindetails-menu {
    position: relative;
    background-color: #1677c4;
}
.maindetails-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.maindetails-nav .nav-item .nav-link {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}
.maindetails-nav .nav-item .nav-link.active {
    color: #ffffff;
    background-color: #115890;
}
.maindetails-nav.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.maindetails-nav.nav-tabs .nav-item {
    margin-bottom: 0px;
}
.info-title {
    font-weight: 600;
}
.maindetailsmenu-section.innermenu.fixed {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
.maindetailsmenu-section.innermenu.fixed~.main {
    padding-top: 100px;
    scroll-behavior: smooth;
}



/*======================================================================
  7. Footer
========================================================================*/
.subscribe-section {
    background-color: #1677c4;
    border-top: 1px solid #0061ad!important;
}
.sub-newsletter h3 {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}
.sub-newsletter p {
    font-size: 14px;
    color: #ffffff;
}
.subscribe-section .form-control {
    height: 48px;
}

footer .inner-footer {
    background-color: #0a0a0a;
    padding: 80px 0px;
}
footer .foot-logo {
    margin-bottom: 20px;
}
footer .content-foot {
    font-size: 13px;
    color: #ffffff;
}
footer .inner-footer .foot-title {
    font-weight: 600;
    font-size: 14px;
    color: #02a04b;
    text-transform: uppercase;
    margin-bottom: 15px;
}
footer .inner-footer .foot-lists li {
    margin-bottom: 10px;
}
footer .inner-footer .foot-lists .foot-link {
    color: #ffffff;
    font-size: 13px;
}
footer .inner-footer .foot-lists .foot-link:hover {
    color: #02a04b;
}
footer .outer-footer {
    background-color: #000000;
    border-top: 1px solid #212121;
    padding: 30px 0;
}
footer .outer-footer .copyright-area {
    float: left;
    padding: 10px 0px;
}
footer .outer-footer .copyright-area p {
    color: #ffffff;
    margin: 0px;
    font-size: 13px;
}
footer .outer-footer .copyright-area p a {
    color: #02a04b;
}
footer .social-foot {
    float: right;
}
.socialfoot-list > li {
    display: inline-block;
    margin-left: 10px;
}
.socialfoot-list .social-link {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    text-align: center;
    border-radius: 50%;
}
.socialfoot-list .social-link:hover {
    border: 1px solid #02a04b;
    background-color: #02a04b;
}
.footer-scroll {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 98;
    background-color: #02a04b;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
}
.footer-scroll:hover {
    background-color: #016839;
}



.register-wizard-area .register-wizard-list {
    display: flow-root;
    text-align: center;
    margin: 0px auto;
    width: fit-content;
}
.register-wizard-area .register-wizard-list.disabled .fas {
    display: none;
}
.register-wizard-area .register-wizard-list.disabled .register-wizard-num {
    display: inline-block;
}
.register-wizard-area .register-wizard-list .fas {
    display: inline-block;
}
.register-wizard-area .register-wizard-list .register-wizard-num {
    display: none;
}
.register-wizard-area .register-wizard-list .register-wizard-icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: #02a04b;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.register-wizard-area .register-wizard-list .register-wizard-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.register-wizard-area .register-wizard-list.disabled {
    opacity: 0.5;
    cursor: default;
}
.register-wizard-area .register-wizard-list.disabled:hover {
    color: #454545;
}
.signup-area .register-box {
    background-color: #1677c4;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 2px;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.signup-area .register-box:hover {
    background-color: #115890;
}
.signup-area .signupinner-boxes > li:last-child .register-box {
    margin-bottom: 0px;
}
.signup-area .register-icon {
    padding: 15px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2px 0px 0px 2px;
    margin-right: 15px;
    width: 45px;
    text-align: center;
}
.signup-area .register-title {
    font-size: 18px;
    text-transform: capitalize;
}
.adv-box .adv-image {
    position: relative;
}
.adv-box .adv-content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(22, 119, 196, 0.5);
    color: #ffffff;
    padding: 15px;
    font-size: 16px;
}
.adv-box .adv-content > p {
    margin: 0px;
}
.input-group-append .btn-gup {
    color: #ffffff;
    height: 44px;
}
.input-group-append .btn-gup:hover {
    color: #ffffff;
}
.signupconfirm-area {
    text-align: center;
    font-size: 16px;
}
.signupconfirm-area h6 {
    font-weight: 600;
    font-size: 24px;
}
.signupconfirm-area p {
    margin-bottom: 10px;
}
h2.form-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.checkbox-list li > .custom-checkbox input:checked+label {
    background-color: rgba(235,238,232,.5);
    font-weight: bold;
}
.checkbox-list {
    border: 1px solid #ced4da;
}
.checkbox-list ul li {
    overflow: hidden;
    border-bottom: 1px solid #ced4da;
    margin-bottom: 0;
}
.checkbox-list ul li:last-child {
    border-bottom: 0px solid #ced4da;
}
.checkbox-list ul label {
    display: block;
    margin: 0;
    padding: 8px 35px;
}
.checkbox-list .custom-control-label::after,
.checkbox-list .custom-control-label::before {
    left: 0.5rem;
}
.checkbox-list .custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    padding: 0px;
}
.checkbox-list .custom-control-label::before,
.checkbox-list .custom-control-label::after {
    top: 10px;
}
.checkbox-list li > .inline-radio .custom-control-inline {
    position: relative;
    display: inline-block;
    padding-left: 25px;
}
select.form-control.inline-form {
    display: inline-block;
}
.moonselect-area label {
    margin: 0px;
}
.add-additional-box > a {
    border-radius: 2px;
    display: flex;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding: 10px 20px;
}
.add-additional-icon {
    font-size: 22px;
    float: left;
    padding-right: 10px;
}
.add-additional-title {
    font-size: 18px;
    font-weight: 600;
    padding-top: 3px;
}
.moonselect-area > input {
    display: none;
}
.moonselect-area .icon-qualifications {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #949494;
    color: #ffffff;
    border-radius: 50%;
}
.moonselect-area .MoonOvernightmode:checked + label .icon-qualifications {
    background-color: #02a04b;
}

.addbtn-th {
    padding: 5px .75rem 5px !important;
}
.addAgeGroup {
    font-size: 22px;
    color: #1677c4;
}
.SelectDaysGroup .selectdays {
    display: none;
}
.SelectDaysGroup label {
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    position: relative;
    display: block;
    padding: 10px;
    cursor: pointer;
    background-color: #949494;
    margin: 0px;
    width: 40px;
}
.SelectDaysGroup .selectdays:checked + label {
    background-color: #02a04b;
}
.selectday-area li {
    display: inline-block;
}
.remove-agegroup {
    font-size: 20px;
    color: #d20b0b !important;
}


.price-block {
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.price-block:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    z-index: 1;
}
.price-block .price-block-header {
    background-color: #8e8e8e;
    text-align: center;
    border-radius: 2px 2px 0px 0px;
}
.price-block .price-block-header h4 {
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 2px 2px 0px 0px;
    margin: 0px;
}
.price-block .price-block-header h3 {
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
    padding: 5px 10px;
    margin: 0px;
}
.price-block .price-block-header h3 sup {
    font-size: 20px;
    position: relative;
}
.price-block .price-block-header h5 {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0px 0px 10px;
    margin-bottom: 0px;
}
.price-block .price-block-body {
    background: #ffffff;
}
.price-block .price-block-body .price-description {
    padding: 10px;
    text-align: center;
    background-color: #e8e8e8;
}
.price-block .price-block-body .price-list ul li {
    position: relative;
    display: block;
    padding: 12px 10px 12px 40px;
    border-bottom: 1px solid #e8e8e8;
}
.price-block .price-list ul li:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    position: absolute;
    color: #333333;
    font-size: 13px;
    left: 15px;
}
.price-block .price-block-foot {
    padding: 1em 0em;
    text-align: center;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
}

.price-block.price-clr1 .price-block-header {
    background-color: #ecb412;
}
.price-block .pricebtn-clr1 {
    background-color: #ecb412;
    border-color: #ecb412;
    color: #ffffff;
}
.price-block .pricebtn-clr1:not(:disabled):not(.disabled):active:focus,
.price-block .pricebtn-clr1:not(:disabled):not(.disabled):active,
.price-block .pricebtn-clr1:hover,
.price-block .pricebtn-clr1:focus {
    background-color: #bd900e;
    border-color: #bd900e;
    color: #ffffff;
}

.price-block.price-clr2 .price-block-header {
    background-color: #96285b;
}
.price-block .pricebtn-clr2 {
    background-color: #96285b;
    border-color: #96285b;
    color: #ffffff;
}
.price-block .pricebtn-clr2:not(:disabled):not(.disabled):active:focus,
.price-block .pricebtn-clr2:not(:disabled):not(.disabled):active,
.price-block .pricebtn-clr2:hover,
.price-block .pricebtn-clr2:focus {
    background-color: #782049;
    border-color: #782049;
    color: #ffffff;
}

.price-block.price-clr3 .price-block-header {
    background-color: #2d818a;
}
.price-block .pricebtn-clr3 {
    background-color: #2d818a;
    border-color: #2d818a;
    color: #ffffff;
}
.price-block .pricebtn-clr3:not(:disabled):not(.disabled):active:focus,
.price-block .pricebtn-clr3:not(:disabled):not(.disabled):active,
.price-block .pricebtn-clr3:hover,
.price-block .pricebtn-clr3:focus {
    background-color: #14646d;
    border-color: #14646d;
    color: #ffffff;
}
.selectplan-box {
    margin-bottom: 50px;
}
.selectplan-box > label {
    font-weight: 600;
    text-align: center;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
}
.price-block.active {
    border: 1px solid #02a04b;
}
.price-block.active .price-block-header {
    background-color: #02a04b;
}
.price-block.active .price-block-foot .btn {
    background-color: #02a04b;
    border-color: #02a04b;
    color: #ffffff;
}

.wizard .steps ul {
    list-style: none !important;
    padding: 0px;
    margin: 0px -15px;
}
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.wizard > .steps > ul > li {
    width: 33.33%;
    float: left;
    padding: 0px 15px;
}
.wizard > .steps a {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: #454545;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
}
.wizard > .steps .number {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: inline-block;
    background-color: #02a04b;
    color: #ffffff;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.wizard .steps .current a:active,
.wizard .steps .current a:focus,
.wizard .steps .current a:hover {
    color: #454545;
    background-color: transparent;
}
.wizard > .steps .disabled a {
    background: transparent;
    opacity: 0.5;
    cursor: not-allowed;
}
.wizard > .steps .disabled a .number {
    opacity: 1;
}
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active {
    background-color: transparent;
}
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info,
.wizard > .content > .title,
.tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}
.wizard > .actions {
    background-color: #e1e1e1;
    padding: 10px 15px;
    border-radius: 2px;
}
.wizard > .actions ul li {
    display: inline-block;
    padding-right: 10px;
}
.wizard > .actions ul li:last-child {
    padding-right: 0px;
}
.wizard > .actions ul li > a {
    display: inline-block;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1677c4;
    border: 1px solid #1677c4;
    padding: 10px 20px 10px 20px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    text-transform: uppercase;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wizard > .actions ul li.disabled a {
    color: #aaaaaa;
    background: #eeeeee;
    border-color: #eeeeee;
}
.wizard > .actions ul li.disabled a:hover,
.wizard > .actions ul li.disabled a:active {
    color: #aaaaaa;
    background: #eeeeee;
    border-color: #eeeeee;
}
.wizard > .actions .btn {
    padding: 10px 20px 10px 20px;
}


.uploadimage-area {
    position: relative;
    border: 1px solid #d3d3d3;
    padding: 10px;
    border-radius: 4px;
    height: 160px;
}
img.portimg.img-fluid {
    max-height: 100%;
    margin: 0px auto;
    display: block;
}
.uploadimage-area a.add-img {
    display: block;
    height: 100%;
    width: 100%;
    color: #d3d3d3;
    position: absolute;
    top: 0px;
    left: 0px;
}
.uploadimage-area .bootstrap-filestyle.input-group {
    display: none;
}
.uploadimage-area .remove-btn {
    position: absolute;
    top: -12px;
    right: -12px;
    background-color: red;
    color: #fff;
    width: 26px;
    height: 26px;
    line-height: 27px;
    text-align: center;
    border-radius: 50%;
    padding-left: 1px;
    opacity: 0.6;
    border: 0px;
    cursor: pointer;
}

.childcare-deatilsrating{
    margin-bottom: 10px;
}
.childcare-deatilsrating .fas,
.childcare-deatilsrating .far {
    font-size: 12px;
    color: #facc41;
}
.childcare-deatilsrating .givenrating {
    font-size: 14px;
    margin-left: 10px;
    color: #a2a2a2;
}
.sidebar-box {
    margin-bottom: 50px;
}
.sidebar-box .sidebar-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.sidebar-box .services-list {
    margin-bottom: 10px;
}
.sidebar-box .sidebar-body > p:last-child {
    margin-bottom: 0px;
}
.sidebar-box .services-list > li {
    padding: 5px 10px;
    font-size: 12px;
    display: inline-block;
    background-color: #5db1f3;
    color: #ffffff;
    border-radius: 2px;
    margin-bottom: 3px;
}
.sidebar-box .child-care-indicator {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #ebeee8;
    color: #ffffff;
    display: block;
    border-radius: 50%;
    font-size: 18px;
}
.sidebar-box .child-care-indicator.active {
    background-color: #02a04b;
}
.sidebar-box .serviceextra-list > li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 7px;
}
.sidebar-box .map-area iframe {
    border: 0px;
    width: 100%;
    height: 300px;
}
.availability-table > tbody > tr > th,
.availability-table > tbody > tr > td {
    font-weight: 400;
    font-size: 18px;
    color: #909090;
    text-align: center;
    padding: 20px;
}
.availability-table > tbody > tr > th:first-child{
    width: 30%;
    text-align: left;
}
.availability-table > tbody > tr > td.available {
    background-color: rgba(2, 160, 75, 0.8);
    color: #ffffff;
}
.availability-table > tbody > tr:hover > th,
.availability-table > tbody > tr:hover > td {
    background-color: #ffffff;
}
.availability-table > tbody > tr:hover > td.available {
    background-color: #02a04b;
}
.aggregate-rating {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 20px;
}
.aggregate-ratinglist > .fas, .aggregate-ratinglist > .far {
    font-size: 20px;
    color: #facc41;
    margin-bottom: 10px;
}
.aggregate-rating .aggregate-title {
    font-weight: 600;
    font-size: 20px;
}
.givenrating-box {
    display: flex;
    margin-bottom: 10px;
}
.givenrating-box .givenrating-starlist {
    padding-right: 10px;
}
.givenrating-box .givenrating-starlist .fas,
.givenrating-box .givenrating-starlist .far {
    color: #facc41;
}
.count-review {
    font-size: 14px;
    color: #828282;
}
.fees-price-block {
    border: 1px solid #dddddd;
}
.fees-price-block .feesprice-header {
    padding: 10px;
    text-align: center;
}
.fees-price-block .feesprice-header > h2 {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0px;
}
.fees-price-block .feesprice-price {
    font-weight: 600;
    font-size: 26px;
    background-color: #1677c4;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}
.feesprice-list > ul > li {
    text-align: center;
    padding: 10px;
}
.feesprice-list > ul > li + li {
    border-top: dotted 1px #dddddd;
}
.review-box {
    position: relative;
    padding-left: 50px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.review-box:before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    left: 0px;
    font-weight: 600;
    font-size: 30px;
    color: #02a04b;
    opacity: 0.8;
}
.review-box .review-header {
    margin-bottom: 15px;
}
.review-box .review-by {
    float: left;
}
.review-box .review-author-rating {
    float: right;
}
.review-box .review-author {
    font-weight: 700;
    font-size: 18px;
}
.review-box .review-date {
    color: #7a7a7a;
}
.review-box .review-rating {
    display: inline-block;
    padding: 3px 11px;
    padding-right: 8px;
    border-radius: 50px;
    background: #ffffff;
    line-height: 24px;
    transition: 0.2s;
}
.review-box .review-rating .fas, .review-box .review-rating .far {
    color: #facc41;
}
.review-box .review-body p {
    margin: 0px;
}
.row .col-md-12:last-child .review-box {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.leave-rating {
    height: 24px;
    float: left;
}
.leave-rating input[type="radio"] {
    display: none;
}
.leave-rating label {
    font-size: 24px;
    float: right;
    letter-spacing: 4px;
    color: #dadada;
    cursor: pointer;
    transition: 0.3s;
}
.leave-rating label {
    position: relative;
    font-size: 21px;
    letter-spacing: 3.5px;
}
.leave-rating label:before {
    color: #ffc600;
}
.leave-rating input[type="radio"] ~ label:after {
    content: "\f005";
    position: absolute;
    left: 0;
    color: #ffc600;
    font-weight: 600;
    opacity: 0;
    transition: 0.2s;
}
.leave-rating input[type="radio"]:hover ~ label:after,
.leave-rating input[type="radio"]:checked ~ label:after {
    opacity: 1;
}
.rating-group {
    
}
.rating-group .given-rating-box {
    display: flex;
}

ul.list-disc li {
    color: #565872;
    margin-bottom: 8px;
    padding-left: 20px;
    position: relative;
}
ul.list-disc li::before {
    content: "\f192";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 12px;
    left: 0px;
    top: 2px;
}
.btn.btn-sm {
    padding: 2px 10px !important;
    font-size: 12px;
}
.contact-area-list > li {
    margin-bottom: 20px;
}
.contact-icon .fas {
    color: #ffffff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #1677c4;
    border-radius: 50%;
    font-size: 18px;
}
.contact-box .contact-icon {
    float: left;
}
.contact-box .contact-details {
    margin-left: 60px;
}
.contact-icon p {
    margin-bottom: 0px !important;
    width: 80%;
}
.contact-box .contact-details .contact-header {
    font-weight: 600;
    margin-bottom: 5px;
}
.contact-area iframe {
    border: 0px;
    width: 100%;
    height: 200px;
}
.contactmap-area > iframe {
    width: 100%;
    height: 510px;
    border: 0px;
}
.customaccordion .card-header {
    padding: 0px;
}
.customaccordion .card-header .btn-link{
    width: 100%;
    text-align: left;
}
.customaccordion .card-header .btn-link {
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: #212529;
}
.customaccordion .card-header .btn-link::before {
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 12px;
    right: 20px;
    top: 15px;
}
.customaccordion .card-header .btn-link.collapsed::before {
    content: "\f067";
}

.view-profile-intro .intro-title {
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 15px;
}
.view-profile-innerintro{
    margin-bottom: 15px;
}
.view-profile-innerintro-title {
    font-weight: 600;
}
.view-profile-innerbox {
    border-top: 2px solid #ddd;
    padding-top: 15px;
    margin-bottom: 20px;
}
.view-profile-innerbox p {
    font-weight: 600;
    font-size: 16px;
}
.hours-rate-profile > .label {
    font-size: 16px;
    display: inline-block;
    padding: 5px 10px;
    background-color: #1677c4;
    color: #ffffff;
}
.community-box {
    position: relative;
}
.community-box .community-desc {
    position: absolute;
    width: 100%;
    bottom: 0px;
    background-color: rgba(22, 119, 196, 0.5);
    padding: 10px;
}
.community-box .community-desc h4 {
    font-weight: 600;
    font-size: 26px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 20px;
}
.community-box .community-desc p {
    font-size: 14px;
    color: #ffffff;
    margin: 0px;
}


.tabscustom-tabs .tab-content {
    padding: 20px;
    border: 1px solid #dee2e6;
}
.tabscustom-tabs .nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.tabscustom-tabs .nav-tabs .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    background-color: #02a04b;
    color: #ffffff;
    border-radius: 0px;
    border: 0px;
    padding: 15px 20px;
}
.tabscustom-tabs .nav-tabs .nav-link.active {
    background-color: #016839;
}
.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #02a04b;
    border-color: #02a04b;
}
.page-link {
    color: #454545;
}
.page-link:hover {
    color: #02a04b;
}
.list-badge li {
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 4px;
}
.list-badge li > span {
    padding: 5px 10px;
    background-color: #02a04b;
    color: #ffffff;
    display: block;
    border-radius: 2px;
}
.btn-toggle {
    background-color: transparent;
    border-color: #cecece;
    color: #555555;
    padding: 8px 15px;
    border-radius: 0px !important;
}
.btn-toggle.active {
    background-color: #02a04b;
    border-color: #02a04b;
    color: #fff;
}
.btn-group .btn-toggle:first-child {
    border-radius: 2px 0px 0px 2px !important;
}
.btn-group .btn-toggle:last-child {
    border-radius: 0px 2px 2px 0px !important;
}
.bootstrap-select .btn.dropdown-toggle {
    border: 1px solid #ced4da;
    background-color: transparent;
    height: 44px;
    line-height: 44px;
    padding: 0px 15px;
    border-radius: 2px;
    box-shadow: none !important;
    font-weight: normal;
    text-transform: initial;
    letter-spacing: normal;
}
.bootstrap-select .btn.dropdown-toggle {
    border: 1px solid #ced4da;
    background-color: transparent;
    height: 44px;
    line-height: 42px;
    padding: 0px 15px;
    border-radius: 2px;
    box-shadow: none !important;
    font-weight: normal;
    text-transform: initial;
    letter-spacing: normal;
}
.bootstrap-select .btn.dropdown-toggle:focus {
    border: 1px solid #02a04b;
    background-color: transparent;
    outline: none !important;
}
table .tb-img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
}


ul.tagit {
    background: #ffffff;
    border-radius: 2px;
    border: 1px solid #ced4da;
    list-style: none;
    padding: 10px;
    margin: 0px;
}
ul.tagit li.tagit-choice {
    position: relative;
    display: inline-block;
    float: left;
    padding: 5px 30px 4px 10px;
    margin: 2px 5px 2px 0;
    background-color: #02a04b;
    line-height: 1.4;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
ul.tagit li.tagit-choice .tagit-label {
    color: #ffffff;
    float: left;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -14px;
    line-height: 1.8;
    padding: 0px 5px;
    font-size: 16px;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}
ul.tagit li.tagit-choice .tagit-close:hover {
    background-color: #016839;
}
ul.tagit input[type="text"] {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.gallery-img {
    display: block;
    position: relative;
    border: 1px solid #ddd;
    border-bottom: 0px;
}
.gallery-img img {
    max-height: 152px;
    margin: 0px auto;
    display: block;
}
.gallery-img:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 9;
    top: 0px;
    left: 0px;
    display: block;
}
.remove-img {
    background-color: #e50000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.gallery-box{
    margin-bottom: 30px;
}
.gallery-img ~ .btn {
    border-radius: 0px !important;
}
.dynamic-tr {
    display: contents;
    width: 100%;
}

.package-subscribe {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #ebebeb;
    border-radius: 4px;
    margin-bottom: 30px;
}
.package-subscribe .package-title:after {
    content: "\f073";
    position: absolute;
    font-family: "Font Awesome 5 Free";
    font-size: 150px;
    top: -38px;
    right: -20px;
    transform: rotate(-45deg);
    opacity: 0.5;
}
.package-subscribe .package-title {
    width: 40%;
    background-color: #1677c4;
    color: #fff;
    border-radius: 4px 0px 0px 4px;
    padding: 20px;
    position: relative;
    overflow: hidden;
}
.package-subscribe .package-purchasedate,
.package-subscribe .package-expiredate,
.package-subscribe .package-action {
    width: 20%;
    padding: 20px;
    margin-top: auto!important;
    margin-bottom: auto!important;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.package-subscribe .package-title h2 {
    font-weight: 600;
    font-size: 26px;
}
.package-subscribe .package-title h3 {
    font-size: 24px;
}
.package-subscribe .package-title h3 > sup {
    position: relative;
    top: -8px;
    font-size: 15px;
    padding-right: 2px;
}
.package-subscribe .package-date-title {
    display: block;
    color: #767676;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 14px;
}
.package-subscribe .package-date-cal {
    font-size: 20px;
    font-weight: 700;
}
.table-overflow-text {
    width: 400px;
    overflow: auto;
    display: block;
}
.bootstrap-filestyle label.btn.btn-danger {
    margin-bottom: 0px;
    outline: none;
}
.bootstrap-filestyle label.btn.btn-danger .badge {
    display: inline-block;
    min-width: 10px;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #333333;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fff;
    border-radius: 10px;
}
.input-group .bootstrap-filestyle.input-group {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0;
}
.input-group .bootstrap-filestyle.input-group .group-span-filestyle {
    width: 100%;
}
.input-group .bootstrap-filestyle.input-group .group-span-filestyle .btn {
    width: 100%;
    text-align: left;
    border: 1px solid #ddd;
    height: 100%;
    margin-bottom: 0px;
}
.group-span-filestyle .btn .badge {
    background-color: #1677c4;
    color: #fff;
    padding: 5px 9px;
    position: relative;
    top: -2px;
    margin-left: 2px;
}
.dataTables_wrapper .dt-buttons {
    float: left;
}
.dataTables_wrapper .dt-buttons .dt-button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #1677c4;
    border: 1px solid #1677c4;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dataTables_wrapper .dt-buttons .dt-button:hover {
    background-color: #115890;
}
.availability-box {
    border: 1px solid #dee2e6;
    margin-bottom: 30px;
}
.availability-box .availability-header .availability-date {
    padding: 10px 20px;
    background-color: #1677c4;
    text-align: center;
    border-bottom: 1px solid #1677c4;
}
.availability-box .availabilitydate-title {
    display: block;
    font-size: 16px;
}
.availability-box .availability-header .availability-months {
    padding: 10px 20px;
    background-color: #67778a;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.availability-date,.availability-months {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}
.availability-box .availability-week {
    padding: 10px;
    background-color: #fff;
    text-align: center;
}
.availability-box .availability-week .availabilityweek-label {
    padding: 5px 10px;
    background-color: #f1f1f1;
    color: #9b9b9b;
    display: inline-block;
    margin: 5px;
    border-radius: 50px;
}
.availability-box .availability-week .availabilityweek-label.availability {
    background-color: #02a04b;
    color: #ffffff;
}
.frmSearch {border: 1px solid #a8d4b1;background-color: #c6f7d0;margin: 2px 0px;padding:40px;border-radius:4px;}
#country-list{float:left;list-style:none;margin-top:-3px;padding:0;width:90%;position: absolute;z-index: 10;}
#country-list li{padding: 10px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#country-list li:hover{background:#ece3d2;cursor: pointer;}
#search-box{padding: 10px;border: #a8d4b1 1px solid;border-radius:4px;}
select {
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}
.community-resource-img img {
    min-height: 200px;
    max-height: 200px;
    margin: 0px auto;
    display: block;
}
.community-box .community-desc .resource-title{
    font-size:20px;
    margin-bottom:0px;
}
.inner-title-t2 {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}
.price-block-area {
    text-align: center;
    padding: 10px;
    background-color: #c1b2b9;
}
.price-block-area h5 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}